In [ ]:
myfood = ['paella', 'sushi', 'tacos']
print(myfood[1])
message = "My favorite food is " +  myfood[1].upper() + "!!!"
print(message)
myfood.insert(3,  'crepes')
print(myfood)
del myfood [1]
print(myfood)
myfood.insert(0, 'pasta')
print (myfood)

sushi
My favorite food is SUSHI!!!
['paella', 'sushi', 'tacos', 'crepes']
['paella', 'tacos', 'crepes']
['pasta', 'paella', 'tacos', 'crepes']

In [ ]:
travel = ['paris', 'roma' , 'jerusalem', 'maldivias', 'greece']
print(travel)
travel.sort()
print(travel)
travel.sort(reverse=True)
print(travel)

['paris', 'roma', 'jerusalem', 'maldivias', 'greece']
['greece', 'jerusalem', 'maldivias', 'paris', 'roma']
['roma', 'paris', 'maldivias', 'jerusalem', 'greece']

In [ ]:
favoritefood = [ 'pizza' , 'sushi', 'pasta', 'soup' , 'burger']
for food in favoritefood :
  print(food.title() + ", is my favorite food !")
print("I love food")

Pizza, is my favorite food !
Sushi, is my favorite food !
Pasta, is my favorite food !
Soup, is my favorite food !
Burger, is my favorite food !
I love food

In [ ]:
numbers = list(range(0,11, 2))
print(numbers)
print(min(numbers))
print(max(numbers))
print(sum(numbers))

[0, 2, 4, 6, 8, 10]
0
10
30

In [ ]:
numbers = list ( range (1,100000, 100))
print (numbers)
odd_number=list(range(1,20,2))
print(odd_number)
for num in range(1,21):
  if num%2==0:
    print(num)

[1, 101, 201, 301, 401, 501, 601, 701, 801, 901, 1001, 1101, 1201, 1301, 1401, 1501, 1601, 1701, 1801, 1901, 2001, 2101, 2201, 2301, 2401, 2501, 2601, 2701, 2801, 2901, 3001, 3101, 3201, 3301, 3401, 3501, 3601, 3701, 3801, 3901, 4001, 4101, 4201, 4301, 4401, 4501, 4601, 4701, 4801, 4901, 5001, 5101, 5201, 5301, 5401, 5501, 5601, 5701, 5801, 5901, 6001, 6101, 6201, 6301, 6401, 6501, 6601, 6701, 6801, 6901, 7001, 7101, 7201, 7301, 7401, 7501, 7601, 7701, 7801, 7901, 8001, 8101, 8201, 8301, 8401, 8501, 8601, 8701, 8801, 8901, 9001, 9101, 9201, 9301, 9401, 9501, 9601, 9701, 9801, 9901, 10001, 10101, 10201, 10301, 10401, 10501, 10601, 10701, 10801, 10901, 11001, 11101, 11201, 11301, 11401, 11501, 11601, 11701, 11801, 11901, 12001, 12101, 12201, 12301, 12401, 12501, 12601, 12701, 12801, 12901, 13001, 13101, 13201, 13301, 13401, 13501, 13601, 13701, 13801, 13901, 14001, 14101, 14201, 14301, 14401, 14501, 14601, 14701, 14801, 14901, 15001, 15101, 15201, 15301, 15401, 15501, 15601, 15701, 15801, 15901, 16001, 16101, 16201, 16301, 16401, 16501, 16601, 16701, 16801, 16901, 17001, 17101, 17201, 17301, 17401, 17501, 17601, 17701, 17801, 17901, 18001, 18101, 18201, 18301, 18401, 18501, 18601, 18701, 18801, 18901, 19001, 19101, 19201, 19301, 19401, 19501, 19601, 19701, 19801, 19901, 20001, 20101, 20201, 20301, 20401, 20501, 20601, 20701, 20801, 20901, 21001, 21101, 21201, 21301, 21401, 21501, 21601, 21701, 21801, 21901, 22001, 22101, 22201, 22301, 22401, 22501, 22601, 22701, 22801, 22901, 23001, 23101, 23201, 23301, 23401, 23501, 23601, 23701, 23801, 23901, 24001, 24101, 24201, 24301, 24401, 24501, 24601, 24701, 24801, 24901, 25001, 25101, 25201, 25301, 25401, 25501, 25601, 25701, 25801, 25901, 26001, 26101, 26201, 26301, 26401, 26501, 26601, 26701, 26801, 26901, 27001, 27101, 27201, 27301, 27401, 27501, 27601, 27701, 27801, 27901, 28001, 28101, 28201, 28301, 28401, 28501, 28601, 28701, 28801, 28901, 29001, 29101, 29201, 29301, 29401, 29501, 29601, 29701, 29801, 29901, 30001, 30101, 30201, 30301, 30401, 30501, 30601, 30701, 30801, 30901, 31001, 31101, 31201, 31301, 31401, 31501, 31601, 31701, 31801, 31901, 32001, 32101, 32201, 32301, 32401, 32501, 32601, 32701, 32801, 32901, 33001, 33101, 33201, 33301, 33401, 33501, 33601, 33701, 33801, 33901, 34001, 34101, 34201, 34301, 34401, 34501, 34601, 34701, 34801, 34901, 35001, 35101, 35201, 35301, 35401, 35501, 35601, 35701, 35801, 35901, 36001, 36101, 36201, 36301, 36401, 36501, 36601, 36701, 36801, 36901, 37001, 37101, 37201, 37301, 37401, 37501, 37601, 37701, 37801, 37901, 38001, 38101, 38201, 38301, 38401, 38501, 38601, 38701, 38801, 38901, 39001, 39101, 39201, 39301, 39401, 39501, 39601, 39701, 39801, 39901, 40001, 40101, 40201, 40301, 40401, 40501, 40601, 40701, 40801, 40901, 41001, 41101, 41201, 41301, 41401, 41501, 41601, 41701, 41801, 41901, 42001, 42101, 42201, 42301, 42401, 42501, 42601, 42701, 42801, 42901, 43001, 43101, 43201, 43301, 43401, 43501, 43601, 43701, 43801, 43901, 44001, 44101, 44201, 44301, 44401, 44501, 44601, 44701, 44801, 44901, 45001, 45101, 45201, 45301, 45401, 45501, 45601, 45701, 45801, 45901, 46001, 46101, 46201, 46301, 46401, 46501, 46601, 46701, 46801, 46901, 47001, 47101, 47201, 47301, 47401, 47501, 47601, 47701, 47801, 47901, 48001, 48101, 48201, 48301, 48401, 48501, 48601, 48701, 48801, 48901, 49001, 49101, 49201, 49301, 49401, 49501, 49601, 49701, 49801, 49901, 50001, 50101, 50201, 50301, 50401, 50501, 50601, 50701, 50801, 50901, 51001, 51101, 51201, 51301, 51401, 51501, 51601, 51701, 51801, 51901, 52001, 52101, 52201, 52301, 52401, 52501, 52601, 52701, 52801, 52901, 53001, 53101, 53201, 53301, 53401, 53501, 53601, 53701, 53801, 53901, 54001, 54101, 54201, 54301, 54401, 54501, 54601, 54701, 54801, 54901, 55001, 55101, 55201, 55301, 55401, 55501, 55601, 55701, 55801, 55901, 56001, 56101, 56201, 56301, 56401, 56501, 56601, 56701, 56801, 56901, 57001, 57101, 57201, 57301, 57401, 57501, 57601, 57701, 57801, 57901, 58001, 58101, 58201, 58301, 58401, 58501, 58601, 58701, 58801, 58901, 59001, 59101, 59201, 59301, 59401, 59501, 59601, 59701, 59801, 59901, 60001, 60101, 60201, 60301, 60401, 60501, 60601, 60701, 60801, 60901, 61001, 61101, 61201, 61301, 61401, 61501, 61601, 61701, 61801, 61901, 62001, 62101, 62201, 62301, 62401, 62501, 62601, 62701, 62801, 62901, 63001, 63101, 63201, 63301, 63401, 63501, 63601, 63701, 63801, 63901, 64001, 64101, 64201, 64301, 64401, 64501, 64601, 64701, 64801, 64901, 65001, 65101, 65201, 65301, 65401, 65501, 65601, 65701, 65801, 65901, 66001, 66101, 66201, 66301, 66401, 66501, 66601, 66701, 66801, 66901, 67001, 67101, 67201, 67301, 67401, 67501, 67601, 67701, 67801, 67901, 68001, 68101, 68201, 68301, 68401, 68501, 68601, 68701, 68801, 68901, 69001, 69101, 69201, 69301, 69401, 69501, 69601, 69701, 69801, 69901, 70001, 70101, 70201, 70301, 70401, 70501, 70601, 70701, 70801, 70901, 71001, 71101, 71201, 71301, 71401, 71501, 71601, 71701, 71801, 71901, 72001, 72101, 72201, 72301, 72401, 72501, 72601, 72701, 72801, 72901, 73001, 73101, 73201, 73301, 73401, 73501, 73601, 73701, 73801, 73901, 74001, 74101, 74201, 74301, 74401, 74501, 74601, 74701, 74801, 74901, 75001, 75101, 75201, 75301, 75401, 75501, 75601, 75701, 75801, 75901, 76001, 76101, 76201, 76301, 76401, 76501, 76601, 76701, 76801, 76901, 77001, 77101, 77201, 77301, 77401, 77501, 77601, 77701, 77801, 77901, 78001, 78101, 78201, 78301, 78401, 78501, 78601, 78701, 78801, 78901, 79001, 79101, 79201, 79301, 79401, 79501, 79601, 79701, 79801, 79901, 80001, 80101, 80201, 80301, 80401, 80501, 80601, 80701, 80801, 80901, 81001, 81101, 81201, 81301, 81401, 81501, 81601, 81701, 81801, 81901, 82001, 82101, 82201, 82301, 82401, 82501, 82601, 82701, 82801, 82901, 83001, 83101, 83201, 83301, 83401, 83501, 83601, 83701, 83801, 83901, 84001, 84101, 84201, 84301, 84401, 84501, 84601, 84701, 84801, 84901, 85001, 85101, 85201, 85301, 85401, 85501, 85601, 85701, 85801, 85901, 86001, 86101, 86201, 86301, 86401, 86501, 86601, 86701, 86801, 86901, 87001, 87101, 87201, 87301, 87401, 87501, 87601, 87701, 87801, 87901, 88001, 88101, 88201, 88301, 88401, 88501, 88601, 88701, 88801, 88901, 89001, 89101, 89201, 89301, 89401, 89501, 89601, 89701, 89801, 89901, 90001, 90101, 90201, 90301, 90401, 90501, 90601, 90701, 90801, 90901, 91001, 91101, 91201, 91301, 91401, 91501, 91601, 91701, 91801, 91901, 92001, 92101, 92201, 92301, 92401, 92501, 92601, 92701, 92801, 92901, 93001, 93101, 93201, 93301, 93401, 93501, 93601, 93701, 93801, 93901, 94001, 94101, 94201, 94301, 94401, 94501, 94601, 94701, 94801, 94901, 95001, 95101, 95201, 95301, 95401, 95501, 95601, 95701, 95801, 95901, 96001, 96101, 96201, 96301, 96401, 96501, 96601, 96701, 96801, 96901, 97001, 97101, 97201, 97301, 97401, 97501, 97601, 97701, 97801, 97901, 98001, 98101, 98201, 98301, 98401, 98501, 98601, 98701, 98801, 98901, 99001, 99101, 99201, 99301, 99401, 99501, 99601, 99701, 99801, 99901]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
2
4
6
8
10
12
14
16
18
20

In [ ]:
positive_color= 'green'
positive_color== 'green'

True

In [ ]:

positive_color= 'red'
positive_color=='green'

False

In [ ]:
patient_exam= 'positive_for_covid'
if patient_exam != "pos_flu":
  print ('Incorrect exam!')

Incorrect exam!

In [ ]:
toppings = ['chocolate', 'sprinkles']

for topping in toppings:
  if topping == 'chocolate':
   print("All out of chocolate!")
  else:
    print("Adding the following topping!" + topping)

All out of chocolate!
Adding the following topping!sprinkles

In [ ]:
toppings = ['chocolate', 'sprinkles']

for topping in toppings:
  if topping == 'chocolate':
   print("All out of chocolate!")
else:
    print("Adding the following topping!" + topping)

All out of chocolate!
Adding the following topping!sprinkles

**DICTIONARIES**

In [ ]:
test_1 = { 'first_name' : 'Genesis' , 'second_name':'Narell' , 'third_name':'Dominic'}
print(test_1['first_name'])
print(test_1['second_name'])
print(test_1['third_name'])

Genesis
Narell
Dominic

Accesing Dictionaries

In [ ]:
test_1 = { 'first_name' : 'Genesis' , 'second_name':'Narell' , 'third_name':'Dominic'}
test_1 =

New Key- Value Pairs

In [ ]:
test_1 = { 'first_name' : 'Genesis' , 'second_name':'Narell' , 'third_name':'Dominic'}
print(test_1['first_name'])
print(test_1['second_name'])
print(test_1['third_name'])


test_1['XYZ'] = '9174216152'
test_1 ['Last_test'] = 'finals'
print(test_1)

Genesis
Narell
Dominic
{'first_name': 'Genesis', 'second_name': 'Narell', 'third_name': 'Dominic', 'XYZ': '9174216152', 'Last_test': 'finals'}

Starting with an empty Dictionary: 3-5 mins

In [ ]:
test_2 = {}
test_2 ['first_name'] = 'Maria'
test_2 ['last_name'] = 'Montanari'

print(test_2)

{'first_name': 'Maria', 'last_name': 'Montanari'}

**EXERCISE IN CLASS**

In [ ]:
friends_information = { '1' : 'Alessandra' , '2':'Emily'}
print(friends_information ['1'])
friends_name = friends_information[ '1' ]
print("Meet " + friends_name)
'1' ['last_name'] = 'Franco'
'1' ['age'] = '34'
'1' ['city'] = 'New York'
" ['hobby'] = 'Art'
friends_information

print(friends_information ['2'])

Alessandra
Meet Alessandra
Emily

In [ ]:
person_1 = {'Name': "lalo", 'Last_name': "weldinlyinh", 'age': 20, 'city': 'NYC', 'Fav food': "MacNCheese"}
for i in person_1:
  print(i,person_1[i])

Name lalo
Last_name weldinlyinh
age 20
city NYC
Fav food MacNCheese

In [ ]:
People = {"octavio": 20, 'lola': 19, 'Pablo': 22, 'Steve': 33, 'Jaan': 25}
for x in People:
  print(x,People[x], "years old")

octavio 20 years old
lola 19 years old
Pablo 22 years old
Steve 33 years old
Jaan 25 years old

In [ ]:
Dictionaty_1 = {'Apple': 'is a fruit that can come in different colors','Python': 'Is a programming language use to code and analyze data', 'Google': "Google is s search Engine"}
for i in Dictionaty_1:
  print(i+": "+Dictionaty_1[i])

Apple: is a fruit that can come in different colors
Python: Is a programming language use to code and analyze data
Google: Google is s search Engine

INPUT

In [ ]:
prompt = "Input a message. I will repeat it until ypu type 'quit'"
message = "I wont stop until I get what I want"

while message != 'quit':
    message = input(prompt)
    print(message)

    if message == "quit":
      active = False 

    else:
        print(message)

KeyboardInterrupt: ignored

**FUNTIONS JAN 10 **

In [ ]:
def my_funtion(age):
  """How old are you?"""
  print("I am "+ age+  "years old!")
person ("33")

NameError: ignored

**Multiple Funtions Call Exersice**

In [ ]:
def address_1(country, city, hospital, deparment): 
    """To know the country and city where the person comes from and where he works"""
    print("He is from " + country + " " + city)
    print("he works in " + hospital + " and his specializion is in " + deparment)

address_1('Ecuador', 'Guayaquil', 'Bicentenario Hospital', 'Nutrition')
address_1('Unites States' , 'New York' , 'Metropolitan Hospital' , 'General Medicine')

He is from Ecuador Guayaquil
he works in Bicentenario Hospital and his specializion is in Nutrition
He is from Unites States New York
he works in Metropolitan Hospital and his specializion is in General Medicine

Finding a maimun value and its index with Numpy Array (January 11)

In [ ]:
import numpy as np
num = np.array([9,1,7,4,2,1,6,1,5,2])
result = np.where (num==np.max(num))
print('return max value',np.max(num))
print('Returned tuple of arrays : ', result)
print('List of Indices of maximun element :', result [0])

return max value 9
Returned tuple of arrays :  (array([0]),)
List of Indices of maximun element : [0]

In [ ]:
import numpy as np
np_olympic_country = np.array(['GBR','China','RUS','US','KOR','JPN','GER'])
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_Silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_Bronze = np.array([19,22,32,29,7,17,14])
lowest = np.where(np_olympic_country_Gold== np.min(np_olympic_country_Gold))
print('Min number of gold medals',np.min(np_olympic_country_Gold ))
print('index number of minimun element (gold medals) :', lowest[0])
print('The country with Min number of gold medals is:',np_olympic_country[lowest])
less_than_20_medals=np_olympic_country_Gold <20
print(less_than_20_medals)
np_olympic_country_Gold[less_than_20_medals]
x = np.where(np_olympic_country_Gold <20)

print('the countries with less than 20 medals are:',np_olympic_country[x])
print('\n')

Min number of gold medals 7
index number of minimun element (gold medals) : [5]
The country with Min number of gold medals is: ['JPN']
[False False False False  True  True  True]
the countries with less than 20 medals are: ['KOR' 'JPN' 'GER']

Data Frames in Panda

In [ ]:
import pandas as pd
data = {
    "calories" : [369, 322, 980],
    "duration" : [30, 45 ,60]
  }

df = pd.DataFrame(data)
print(df)
print(df.loc[0])

   calories  duration
0       369        30
1       322        45
2       980        60
calories    369
duration     30
Name: 0, dtype: int64

In [ ]:
import pandas as pd 
classexercise = [1, 7, 2]
myvar = pd.Series(classexercise)
print(myvar)
print(myvar[1])

0    1
1    7
2    2
dtype: int64
7

Analizing Data togueter!! Exercise