# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [ ]:
US_States = ['Florida' , 'New York' , 'Texas' , 'New Jersey' , 'Tennesse']
print(US_States)

['Florida', 'New York', 'Texas', 'New Jersey', 'Tennesse']

## 2.	Print out those variables by using a for loop

In [ ]:
US_States = ['Florida' , 'New York' , 'Texas' , 'New Jersey' , 'Tennesse']
for States in US_States:
  print(States)

Florida
New York
Texas
New Jersey
Tennesse

## 3.	Modify your for loop to add a message to your for loop.

In [ ]:
US_States = ['Florida' , 'New York' , 'Texas' , 'New Jersey' , 'Tennesse']
for States in US_States:
    print(States.title () + ", is one of my favorite US_States!")

Florida, is one of my favorite US_States!
New York, is one of my favorite US_States!
Texas, is one of my favorite US_States!
New Jersey, is one of my favorite US_States!
Tennesse, is one of my favorite US_States!

## 4.	Use a for loop to print even numbers from 1-20.

In [ ]:
for num in range(1,20):
  print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
even_number=list(range(1,20,2))
print(even_number)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## 5.	Sort your list in alphabetic order.

In [ ]:
US_States = ['Florida' , 'New York' , 'Texas' , 'New Jersey' , 'Tennesse']
US_States.sort()
print(US_States)

['Florida', 'New Jersey', 'New York', 'Tennesse', 'Texas']

## 6.	Print out the first three elements of your list.

In [ ]:
US_States = ['Florida' , 'New York' , 'Texas' , 'New Jersey' , 'Tennesse']
US_States[:3]

['Florida', 'New York', 'Texas']

## 7.	Create a loop to print the last 2 elements of your list.

In [ ]:
US_States = ['Florida' , 'New York' , 'Texas' , 'New Jersey' , 'Tennesse']
print("Some cool States to visit")
for coolStates in US_States[3:5]:
  print(coolStates.title())

Some cool States to visit
New Jersey
Tennesse